*{
    margin: 0;
    padding: 0;
}
.content::after{
    content: "";
    display: block;
    clear: both;

}
.content{
    margin: 1%;
}
.content div{
    width: 31.3%;
    /*height:31.3vw;*/
    /*用内边距撑开容器,百分比不能直接用height。height是基于父级的，
            没有设置高度，相当于0*31% */
    padding-top: 31.3%;
    /*padding-bottom: 31.3%;*/
    border-radius: 10%;
    background-color: orange;
    float: left;
    margin: 1%;
}